<div class="row text-center">

    <div style="width: 100%;">
        <img style="max-width: 500px;" src="https://media-exp1.licdn.com/dms/image/C560BAQF9gizns6Xfkg/company-logo_200_200/0?e=2159024400&v=beta&t=vyZ2h7uNJyRHLqdU43pfmC5DF1-AYGdI8_cdwI8_j08" />
        <p class="lead" style=" width: 100%; text-align: center; font-size: 22px; font-style: italic;">
            Hitchhiker time...</p>
    </div>
</div>